# Byte-compiled / optimized / DLL files
__pycache__/

# Build tool
.nox/
.ci-reports/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
