jsonargparse[signatures]==4.3.0
numpy==1.21.2
pytorch-lightning==1.5.7
pyyaml==6.0
randomname==0.1.5
torch==1.13.1+cu117
torchmetrics==0.5.1
torch_optimizer==0.1.0
xarray==2023.1.0
climetlab==0.20.1
climetlab-maelstrom-radiation==0.7.5