absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
argcomplete==3.3.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
branca==0.7.2
cachetools==5.3.3
cads-api-client==1.0.3
cdsapi==0.7.0
certifi==2024.2.2
cffi==1.16.0
cfgrib==0.9.12.0
cftime==1.6.3
charset-normalizer==3.3.2
click==8.1.7
climetlab==0.20.1
climetlab-maelstrom-radiation==0.7.5
cloudpickle==3.0.0
colorlog==6.8.2
dask==2023.5.0
distlib==0.3.8
docstring_parser==0.16
eccodes==1.7.0
ecmwf-api-client==1.6.3
ecmwf-opendata==0.3.8
ecmwflibs==0.6.3
entrypoints==0.4
filelock==3.14.0
findlibs==0.0.5
fire==0.6.0
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.64.0
h5py==3.11.0
idna==3.7
imageio==2.34.1
importlib_metadata==7.1.0
Jinja2==3.1.4
jsonargparse==4.3.0
keras==2.11.0
libclang==18.1.1
locket==1.0.0
lru-dict==1.3.0
Magics==1.5.8
Markdown==3.6
MarkupSafe==2.1.5
multidict==6.0.5
multiurl==0.3.1
netCDF4==1.6.5
nox==2024.4.15
numpngw==0.1.3
numpy==1.21.2
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.0
pandas==2.0.3
partd==1.4.1
pdbufr==0.11.0
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
protobuf==3.19.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyDeprecate==0.3.1
pyodc==1.4.1
python-dateutil==2.9.0.post0
pytorch-lightning==1.5.7
pytorch-ranger==0.1.1
pytz==2024.1
PyYAML==6.0
randomname==0.1.5
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==45.2.0
six==1.16.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
tomli==2.0.1
toolz==0.12.1
torch==1.13.1+cu117
torch-optimizer==0.1.0
torchmetrics==0.5.1
tqdm==4.66.4
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.2
Werkzeug==3.0.3
wheel==0.34.2
wrapt==1.16.0
xarray==2023.1.0
yarl==1.9.4
zipp==3.19.0