h5py==3.4.0
jsonargparse[signatures]==4.3.0
kaleido==0.2.1
matplotlib==3.4.3
numpy==1.21.2
plotly==5.3.1
pytorch-lightning==1.5.7
pyyaml==6.0
names==0.3.0
randomname==0.1.5
torch==1.11.0+cu113
torchmetrics==0.5.1
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-optimizer==0.1.0