h5py==3.4.0
jsonargparse[signatures]==4.3.0
kaleido==0.2.1
matplotlib==3.4.3
networkx==2.6.3
numpy==1.21.2
plotly==5.3.1
pytorch-lightning==1.5.7
pyyaml==6.0
randomname==0.1.5
torch==1.9.0
torchmetrics==0.5.1
torch-geometric==2.0.3
torch_scatter==2.0.9
torch_sparse==0.6.12