climetlab==0.15.0
climetlab-maelstrom-radiation==0.7.4
jsonargparse[signatures]==4.22.1
numpy==1.21.2
randomname==0.1.5
pytorch-lightning==1.8.6
torch==1.13.1+cu116
torchmetrics==0.11.4
torch-geometric==2.0.3
torch-optimizer==0.3.0
xarray==2023.1.0
mlflow==2.2.2
onnx==1.13.*