climetlab==0.9.9
climetlab-maelstrom-radiation==0.5.4
h5py==3.4.0
jsonargparse[signatures]==4.3.0
netCDF4==1.5.8
numpy==1.21.2
pytorch-lightning==1.5.7
pyyaml
randomname==0.1.5
torch==1.11.0+cu113
torchmetrics==0.5.1
torch-geometric==2.0.3
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-optimizer==0.1.0
