climetlab==0.20.1
climetlab-maelstrom-radiation==0.7.5
jsonargparse[signatures]>=4.26.1
numpy==1.21.2
randomname==0.1.5
pytorch-lightning==2.1.*
torch==2.1.0+cu121
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-geometric==2.3.1
torch-optimizer==0.3.0
xarray==2023.1.0
mlflow==2.8.1
onnx==1.13.*